body {
    background-color: rgba(164, 182, 206, 0.904);
}

.links {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin: 0 70px;
    justify-content:space-around;
    align-items: center;
    background-color: rgba(90, 109, 133, 0.904);
    height: 70px;

}
li a {                          
    text-decoration: none;
    color: White;
    font-size: 22px;

}                 /* ao passar o mouse, muda a cor para azul */
li a:hover {
    background-color: #142270;
    color: white;
}

.container {     /*Container contendo as formações acadêmicas*/
    border: 1px solid white;
    height: 250px;
    width: 75%;
    margin: auto;
    align-items: center;
}

.texto {        /*Texto das formações acadêmicas*/
    text-align: left;
    margin-right: 200px;
    font-size: 25px;
    color: rgb(27, 55, 133);
    
}

.imagem{
    width: 70px;
    float: right;
  
}
.imagem2{
    width: 70px;
    float: right;
  
}